---
import Layout from "@/components/layout/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import PourQui from "@/components/sections/PourQui.astro";
import NotreApproche from "@/components/sections/NotreApproche.astro";
import Philosophie from "@/components/sections/Philosophie.astro";
import Processus from "@/components/sections/Processus.astro";
import Contact from "@/components/sections/Contact.astro";
---

<Layout>
  <main>
    <Hero />
    <PourQui />
    <NotreApproche />
    <Philosophie />
    <Processus />
    <Contact />
  </main>
</Layout>
