---
import Layout from "@/components/layout/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import PourQui from "@/components/sections/PourQui.astro";
import NotreApproche from "@/components/sections/NotreApproche.astro";
---

<Layout>
  <main>
    <Hero />
    <PourQui />
    <NotreApproche />
  </main>
</Layout>
